body {
    margin: 0;
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  p {
    text-align: center;
    margin: 5px;
  }

  input{
    margin: 3px 10px;
  }
  
  button {
    padding: 7px 15px;
    margin: 7px;
    margin-top: 7px;
    border: none;
    background-color: #28f;
    color: #fff;
    letter-spacing: 1.5px;
    font-weight: 700;
    border-radius: 5px;
  }
  
  button:hover {
    cursor: pointer;
    background-color: #2af;
  }
  
  button:active {
    background-color: #35f;
  }